.container {
  padding: 800px;
}

.child1 {
  display: inline-block;
  width: 350px;
  margin: 8px;
  vertical-align: top;
}
.child2 {
  display: inline-block;
  width: 350px;
  margin: 8px;
  vertical-align: top;
}

.child3 {
  display: inline-block;
 width: 350px;
  margin: 8px;
  vertical-align: top;
}
.child4 {
  display: inline-block;
  width: 350px;
  margin: 8px;
  vertical-align: top;
}

img {
  width: 100%;
}
